# rename this file to development_local.py and adjust settings as needed

# Uncomment to enable caching in development
# from .development import *
# from hashlib import sha384
# CACHES = {
#     "default": {
#         "BACKEND": "django.core.cache.backends.memcached.PyMemcacheCache",
#         "LOCATION": "memcache:11211",
#         "KEY_PREFIX": "ietf:purple",
#         "KEY_FUNCTION": lambda key, key_prefix, version: (
#             f"{key_prefix}:{version}:{sha384(str(key).encode('utf8')).hexdigest()}"
#         ),
#         "TIMEOUT": 600,  # 10 minute default timeout
#     }
# }
